---
- name: make a build dir
  file: state=directory name=/root/elasticsearch-dockerized

- name: put Dockerfile
  template: src=Dockerfile dest=/root/elasticsearch-dockerized/Dockerfile

- name: put elasticsearch_config.sh
  template: src=elasticsearch_config.sh dest=/root/elasticsearch-dockerized/elasticsearch_config.sh

- name: put consul-start
  template: src=consul-start dest=/root/elasticsearch-dockerized/consul-start mode=0755

- name: put consul.json
  template: src=consul.json dest=/root/elasticsearch-dockerized/consul.json

- name: put run
  template: src=run dest=/root/elasticsearch-dockerized/run mode=0755

- name: build a Docker image for Elasticsearch
  command: docker build -t gitinsky/elasticsearch:0.1.2 --rm /root/elasticsearch-dockerized

- name: tag it as latest
  command: docker build -t gitinsky/elasticsearch:latest --rm /root/elasticsearch-dockerized
